{{!-- {{publicProfileUrl}} --}}
<a class="profile-link" href={{publicProfileUrl}} target="_blank">
	<div class="item">
		<div class="ripple"></div>
		<div class="spacing"></div>
		<div class="profile-info">
			<div class="info-wrapper">
				<div class="fName">{{firstName}} {{lastName}}</div>
				<div class="position"> {{headline}} </div>
				<div class="location"> {{location.name}} </div>
			</div>
		</div>
		<div class="profile-picture-border"></div>
		<img class="profile-picture" id='{{id}}' src='{{pictureUrls.values}}'/>
	</div>
</a>