<div class="item">
	<div class="spacing"></div>
	<div class="profile-info">
		<div class="info-wrapper">
			<div class="fName">{{firstName}} {{lastName}}</div>
			<div class="position"> {{headline}} </div>
			<div class="location"> {{location.name}} </div>
		</div>
	</div>
	<img class="profile-picture" id='{{id}}' src='{{pictureUrls.values}}'/>
</div>