<div class="item item-u">
	<div class="profile-info profile-info-u">
		<div class="fName fName-u">{{name_first}} {{name_last}}</div>
		<div> Class of {{class}}</div>
		<div class="major-info">{{majors}}</div>
		{{#if email_addr}}
			<div class="email"><a href="mailto:{{email_addr}}?subject=">Email</a></div>
		{{/if}}
	</div>
</div>
