{{!-- Create a partial used whenever searching for a person --}}

{{!-- <div class="list"> --}}
	{{#if people}}
		{{#each people}}
			{{> person}}
		{{/each}}
	{{/if}}

	{{#if u_people}}
		{{#each u_people}}
			{{> u_person}}
		{{/each}}
	{{/if}}
{{!-- </div> --}}

{{!-- <div class="item">
	<img class="profile-picture" id={{id}} src=''/>
	<div class="profile-info">
		<div class="fName">{{firstName}} {{lastName}}</div>
		<div class="position"> {{headline}} </div>
		<div class="location"> {{location.name}} </div>
	</div>
</div> --}}
